[Unit]
Description=Jupyter Notebook Server
After=network.target

[Service]
Type=simple
User={{ user_name }}
ExecStart=/home/{{ user_name }}/venv/bin/jupyter lab --config=/etc/jupyter/jupyter_notebook_config.py
WorkingDirectory=/home/{{ user_name }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target